
/* "Forgot Password" page */
.forgotPasswordTable { 
    margin-top: 50px;
    width: 378px;
}

.forgotPasswordCell { 
    padding: 10px; 
    border: solid #555555 1px; 
    background-color: #FBFBFB; 
    text-align: center;
}
